<div class="container-fluid">
  <h1>Welcome to Whiteboard</h1>
  <div *ngIf="!user.username">
    <a routerLink="/login">Login</a> |
    <a routerLink="/register">Register</a>
  </div>
  <div *ngIf="user.username">
    <a (click)="logout()">Logout</a> |
    <a routerLink="/profile">Profile</a> | 
    <a *ngIf="user.role === 'ADMIN' || user.username === 'admin'"
       routerLink="/sections">Admin</a>
  </div>
  <!--<div *ngIf="user.role === 'ADMIN' || user.username === 'admin'">-->
    <!--<a routerLink="/sections">Admin</a>-->
  <!--</div>-->
  <app-course-grid></app-course-grid>

  <!--<div class="row">-->
    <!--<div class="col-4">-->
      <!--<h2>Courses</h2>-->
      <!--<ul class="list-group">-->
        <!--<li (click)="selectCourse(course)"-->
            <!--[ngClass] ="{'active': course.id === selectedCourse.id}"-->
            <!--*ngFor="let course of courses"-->
            <!--class="list-group-item">-->
          <!--{{course.title}}-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-4">-->
      <!--<h2>Moduels</h2>-->
      <!--<ul class="list-group">-->
        <!--<li (click)="selectModule(module)"-->
            <!--*ngFor="let module of selectedCourse.modules"-->
            <!--class="list-group-item">-->
          <!--{{module.title}}-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-4">-->
      <!--<h2>Lessons</h2>-->
      <!--<ul class="list-group">-->
        <!--<li *ngFor="let lesson of selectedModule.lessons"-->
            <!--class="list-group-item">-->
          <!--{{lesson.title}}-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
</div>
