<div class="container-fluid">
  <h1>Profile</h1>
  <a (click)="logout()">Logout</a> |
  <a routerLink="/home">Home</a> |
  <a *ngIf="role === 'ADMIN' || username === 'admin'"
     routerLink="/sections">Admin</a>
  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="firstName"
         placeholder="First Name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="Last Name"
         class="form-control"/>
  <input [(ngModel)]="phone"
         placeholder="Phone number"
         class="form-control"/>
  <input [(ngModel)]="email"
         placeholder="Email"
         class="form-control"/>
  <input [(ngModel)]="address"
         placeholder="Address"
         class="form-control"/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Sections ({{sections.length}})</h2>

  <div class="row">
    <div *ngFor="let enrollment of sections" class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{enrollment.section.name}}</h5>
          <p> Grade: Nil</p>
          <button (click)="disenroll(enrollment.section)"
                  class = "btn btn-danger">Disenroll
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--<ul class="list-group">-->
    <!--<li *ngFor="let enrollment of sections" class="list-group-item">-->
      <!--{{enrollment.section.name}}-->
      <!--({{enrollment.section.seats}})-->
    <!--</li>-->
  <!--</ul>-->
</div>
